.DS_STORE
._*
*.log
.tm_properties
*.orig
*.original~
/nbproject/private/
.idea/
/.project
.ftppass
/node_modules
/build/*
/temp/*
.sass-cache/*
public/css/*.css
public/css/*.css.map
public/js/*.js
public/js/*.js.map
package-lock.json