<svelte:component this={comps} />

<script>
	import Dashboard from '../Dashboard.html';

	import Medicines from '../views/Medicine/Medicines.html';
	import AddMedicine from '../views/Medicine/AddMedicine.html';
	import EditMedicine from '../views/Medicine/EditMedicine.html';

	import Times from '../views/Time/Times.html';
	import AddTime from '../views/Time/AddTime.html';
	import EditTime from '../views/Time/EditTime.html';
	
	import Comments from '../views/Comment/Comments.html';
	import AddComment from '../views/Comment/AddComment.html';
	import EditComment from '../views/Comment/EditComment.html';
	
	import Durations from '../views/Duration/Durations.html';
	import AddDuration from '../views/Duration/AddDuration.html';
	import EditDuration from '../views/Duration/EditDuration.html';
	
	import Advices from '../views/Advice/Advices.html';
	import AddAdvice from '../views/Advice/AddAdvice.html';
	import EditAdvice from '../views/Advice/EditAdvice.html';
	
	import NextVisits from '../views/NextVisit/NextVisits.html';
	import AddNextVisit from '../views/NextVisit/AddNextVisit.html';
	import EditNextVisit from '../views/NextVisit/EditNextVisit.html';
	
	import Referees from '../views/Referee/Referees.html';
	import AddReferee from '../views/Referee/AddReferee.html';
	import EditReferee from '../views/Referee/EditReferee.html';

	import Patients from '../views/Patient/Patients.html';
	import AddPatient from '../views/Patient/AddPatient.html';
	import EditPatient from '../views/Patient/EditPatient.html';

	import Diagnoses from '../views/Diagnosis/Diagnoses.html';
	import AddDiagnosis from '../views/Diagnosis/AddDiagnosis.html';
	import EditDiagnosis from '../views/Diagnosis/EditDiagnosis.html';

	import Complaints from '../views/Complaint/Complaints.html';
	import AddComplaint from '../views/Complaint/AddComplaint.html';
	import EditComplaint from '../views/Complaint/EditComplaint.html';

	import Examinations from '../views/Examination/Examinations.html';
	import AddExamination from '../views/Examination/AddExamination.html';
	import EditExamination from '../views/Examination/EditExamination.html';

	import Investigations from '../views/Investigation/Investigations.html';
	import AddInvestigation from '../views/Investigation/AddInvestigation.html';
	import EditInvestigation from '../views/Investigation/EditInvestigation.html';

	import InvestigationHistory from '../views/InvestigationHistory/InvestigationHistory.html';
	import AddInvestigationHistory from '../views/InvestigationHistory/AddInvestigationHistory.html';
	import EditInvestigationHistory from '../views/InvestigationHistory/EditInvestigationHistory.html';

	import PrescriptionHistory from '../views/PrescriptionHistory/PrescriptionHistory.html';
	import AddPrescriptionHistory from '../views/PrescriptionHistory/AddPrescriptionHistory.html';
	import EditPrescriptionHistory from '../views/PrescriptionHistory/EditPrescriptionHistory.html';

	export default {
		components: {
			Dashboard,

			Medicines,
			AddMedicine,
			EditMedicine,

			Times,
			AddTime,
			EditTime,
			
			Comments,
			AddComment,
			EditComment,
			
			Durations,
			AddDuration,
			EditDuration,
			
			Advices,
			AddAdvice,
			EditAdvice,
			
			NextVisits,
			AddNextVisit,
			EditNextVisit,
			
			Referees,
			AddReferee,
			EditReferee,

			Patients,
			AddPatient,
			EditPatient,

			Diagnoses,
			AddDiagnosis,
			EditDiagnosis,

			Complaints,
			AddComplaint,
			EditComplaint,

			Examinations,
			AddExamination,
			EditExamination,

			Investigations,
			AddInvestigation,
			EditInvestigation,

			InvestigationHistory,
			AddInvestigationHistory,
			EditInvestigationHistory,

			PrescriptionHistory,
			AddPrescriptionHistory,
			EditPrescriptionHistory
		},
		data() {
			return {
				comp: ""
			}
		},
		computed: {
			comps: ({ comp }) => {
				if (comp == 'dashboard') return Dashboard;

				else if (comp == 'medicine') return Medicines;
				else if (comp == 'addmedicine') return AddMedicine;
				else if (comp == 'editmedicine') return EditMedicine;

				else if (comp == 'time') return Times;
				else if (comp == 'addtime') return AddTime;
				else if (comp == 'edittime') return EditTime;

				else if (comp == 'comment') return Comments;
				else if (comp == 'addcomment') return AddComment;
				else if (comp == 'editcomment') return EditComment;

				else if (comp == 'duration') return Durations;
				else if (comp == 'addduration') return AddDuration;
				else if (comp == 'editduration') return EditDuration;

				else if (comp == 'advice') return Advices;
				else if (comp == 'addadvice') return AddAdvice;
				else if (comp == 'editadvice') return EditAdvice;

				else if (comp == 'nextvisit') return NextVisits;
				else if (comp == 'addnextvisit') return AddNextVisit;
				else if (comp == 'editnextvisit') return EditNextVisit;

				else if (comp == 'referee') return Referees;
				else if (comp == 'addreferee') return AddReferee;
				else if (comp == 'editreferee') return EditReferee;

				else if (comp == 'patient') return Patients;
				else if (comp == 'addpatient') return AddPatient;
				else if (comp == 'editpatient') return EditPatient;

				else if (comp == 'diagnosis') return Diagnoses;
				else if (comp == 'adddiagnosis') return AddDiagnosis;
				else if (comp == 'editdiagnosis') return EditDiagnosis;

				else if (comp == 'complaint') return Complaints;
				else if (comp == 'addcomplaint') return AddComplaint;
				else if (comp == 'editcomplaint') return EditComplaint;

				else if (comp == 'examination') return Examinations;
				else if (comp == 'addexamination') return AddExamination;
				else if (comp == 'editexamination') return EditExamination;

				else if (comp == 'investigation') return Investigations;
				else if (comp == 'addinvestigation') return AddInvestigation;
				else if (comp == 'editinvestigation') return EditInvestigation;

				else if (comp == 'investigationhistory') return InvestigationHistory;
				else if (comp == 'addinvestigationhistory') return AddInvestigationHistory;
				else if (comp == 'editinvestigationhistory') return EditInvestigationHistory;

				else if (comp == 'prescriptionhistory') return PrescriptionHistory;
				else if (comp == 'addprescriptionhistory') return AddPrescriptionHistory;
				else if (comp == 'editprescriptionhistory') return EditPrescriptionHistory;
			}
		}
	}
</script>