<div class="notification" transition:fly="{y: 200, duration: 1000}">
	<h2 class="title is-2">Prescription History: Add
		<a href="#investigationhistory" class="button is-info is-pulled-right"><i class="fas fa-list"></i>&nbsp;History</a>
	</h2>
	<hr />
	{#if !loaded}
				<Loader />
			{/if}
			{#if loaded}
	<div transition:fly="{y: -200, duration: 1000}">
	<p class="title is-5">Patient:</p>
	<div class="columns">
		<div class="column is-one-quarter">
			Name: <b>{data.patient.name}</b>
		</div>
		<div class="column is-one-quarter">
			Age: <b>{data.patient.age}</b>
		</div>
		<div class="column is-one-quarter">
			Address: <b>{data.patient.address}</b>
		</div>
		<div class="column is-one-quarter">
			Reference: <b>{data.patient.reference}</b>
		</div>
	</div>
	<hr style="height: 5px;" />
</div>
	<form on:submit="save(event)">
		<div class="columns">
			<div class="column is-one-third" transition:fly="{x: -200, duration: 1000}" style="border-right: 5px #dbdbdb solid;">
				<div class="field">
					<label class="label">Diagnoses</label>
					{#each diagnoses as diagnosis, i}
						<div class="field is-grouped">
							<div class="control is-expanded">
								<input list="diagnosis_datalist" class="input" type="text" placeholder="Diagnosis" bind:value=diagnosis.diagnosis disabled="{save}" required autofocus>
							</div>
							<div class="control is-expanded">
								<textarea class="textarea" rows="1" placeholder="Description" bind:value=diagnosis.diagnosis_description disabled="{save}"></textarea>
							</div>
							<div class="control">
								<button type="button" class="button is-danger" on:click="splice('diagnoses', i, 1)"><i class="fas fa-times"></i></button>
							</div>
						</div>
					{/each}
						<datalist id="diagnosis_datalist">
							{#each all_diagnoses as diagnosis}
								<option value="{diagnosis.diagnosis}"/>
							{/each}
						</datalist>
				</div>
				<div class="field add">
					<div class="control">
						<button type="button" class="button is-success" on:click="push('diagnoses', {diagnosis:'',diagnosis_description:''})"><i class="fas fa-plus"></i></button>
					</div>
				</div>
				<hr />
				<p class="title is-5">Complaints:</p>
				{#if complaints.length}
					{#each complaints as each_data}
						<p>{each_data.complaint}: {each_data.complaint_description ? each_data.complaint_description : 'None' }</p>
					{/each}
				{:else}
					<p>None</p>
				{/if}
				<hr />
				<p class="title is-5">Examinations:</p>
				{#if examinations.length}
					{#each examinations as each_data}
					<p>{each_data.examination}: {each_data.examination_description ? each_data.examination_description : 'None' }</p>
					{/each}
				{:else}
					<p>None</p>
				{/if}
				<hr />
				<p class="title is-5">Investigations:</p>
				{#if investigations.length}
					{#each investigations as each_data}
						<div class="field is-grouped">
							<div class="control is-expanded">
								{each_data.investigation}:&nbsp;
							</div>
							<div class="control is-expanded">
								<input class="input" type="text" placeholder="Description" bind:value=each_data.investigation_description disabled="{save}" required>
							</div>
						</div>
					{/each}
				{:else}
					<p>None</p>
				{/if}
			</div>
			<div class="column is-two-thirds" transition:fly="{x: 200, duration: 1000}">
				<div class="field">
					<label class="label">Medicines</label>
					{#each medicine_details as medicine_detail, i}
						<div class="field is-grouped">
							<div class="control is-expanded">
								<input list="medicine_datalist" class="input" type="text" placeholder="Medicine" bind:value=medicine_detail.medicine disabled="{save}" required autofocus style="text-transform: uppercase;">
							</div>
							<div class="control is-expanded">
								<input list="time_datalist" class="input" type="text" placeholder="Times" bind:value=medicine_detail.time disabled="{save}" required>
							</div>
							<div class="control is-expanded">
								<input list="comment_datalist" class="input" type="text" placeholder="Comments" bind:value=medicine_detail.comment disabled="{save}">
							</div>
							<div class="control is-expanded">
								<input list="duration_datalist" class="input" type="text" placeholder="Duration" bind:value=medicine_detail.duration disabled="{save}" required>
							</div>
							<div class="control">
								<button type="button" class="button is-danger" on:click="splice('medicine_details', i, 1)"><i class="fas fa-times"></i></button>
							</div>
						</div>
					{/each}
					<datalist id="medicine_datalist">
						{#each all_medicines as medicine}
							<option value="{medicine.medicine}">{medicine.generics}</option>
						{/each}
					</datalist>
					<datalist id="time_datalist">
						{#each all_times as time}
							<option value="{time.time}"/>
						{/each}
					</datalist>
					<datalist id="comment_datalist">
						{#each all_comments as comment}
							<option value="{comment.comment}"/>
						{/each}
					</datalist>
					<datalist id="duration_datalist">
						{#each all_durations as duration}
							<option value="{duration.duration}"/>
						{/each}
					</datalist>
				</div>
				<div class="field add">
					<div class="control">
						<button type="button" class="button is-success" on:click="push('medicine_details', {medicine:'',time:'',comment:'',duration:''})"><i class="fas fa-plus"></i></button>
					</div>
				</div>
				<hr />
				<div class="field is-grouped">
					<div class="control">
						<SubmitButton tracker={tracker} on:submit></SubmitButton>
					</div>
					<div class="control">
						<button class="button is-info" type="Submit" on:click="set({preview_prescription: true})"><i class="fas fa-file-pdf"></i>&nbsp;Save and Preview Prescription</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	{/if}
	<center class="has-text-danger has-text-weight-bold">{error_message}</center>
</div>

<script>
	import Model from "../../../models/prescription_history";
	import Patient from "../../../models/patient";
	import InvestigationHistory from "../../../models/investigation_history";
	import Diagnosis from "../../../models/diagnosis";
	import Medicine from "../../../models/medicine";
	import Time from "../../../models/time";
	import Comment from "../../../models/comment";
	import Duration from "../../../models/duration";
	import Loader from '../../helpers/loader.html';
	import SubmitButton from '../../helpers/SubmitButton.html';
	import { fly } from 'svelte-transitions';
	import { push, splice } from 'svelte-extras';

	export default {
		transitions: { fly },
		components: {
			Loader,
			SubmitButton
		},
		oncreate() {
			var locs = window.location.href.toString().split(window.location.host)[1].split('/#')[1].split('#');
			if (locs[2] == "p") {
				this.get().data.patient = locs[3];
				this.loadPatient();
			}
			else {
				this.get().data.investigation_history = locs[3];
				this.LoadInvestigationHistory();
			}
			this.loadDiagnoses();
			this.loadMedicines();
			this.loadTimes();
			this.loadComments();
			this.loadDurations();
		},
		data() {
			return {
				data: {
					patient: "",
					investigation_history: "",
					investigation_descriptions: "",
					diagnoses: "",
					diagnosis_descriptions: "",
					medicines: "",
					times: "",
					comments: "",
					durations: "",
					date: ""
				},
				diagnoses: [{
					diagnosis: "",
					diagnosis_description: ""
				}],
				complaints: [],
				examinations: [],
				investigations: [],
				medicine_details: [{
					medicine: "",
					time: "",
					comment: "",
					duration: ""
				}],
				all_diagnoses: [],
				all_medicines: [],
				all_times: [],
				all_comments: [],
				all_durations: [],
				loaded: false,
				save: false,
				preview_prescription: false,
				tracker: {
					saving: false,
					saved: false,
					error: false
				},
				error_message: ""
			}
		},
		methods: {
			push,
			splice,
			loadPatient() {
				var { patient } = this.get().data;
				Patient.getOne(patient)
					.then((e) => {
						var record = e.data.records;
						this.get().data.patient = record;
						this.set({
							loaded: true,
							complaints: "",
							examinations: "",
							investigations: ""
						});
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading patient!"
						});
					});
			},
			LoadInvestigationHistory() {
				var { investigation_history } = this.get().data;
				InvestigationHistory.getOne(investigation_history)
					.then((e) => {
						var record = e.data.records;

						// patient record
						this.get().data.patient = record.patient;

						var complaints = record.complaints.split(','),
							complaint_descriptions = record.complaint_descriptions.split(','),
							examinations = record.examinations.split(','),
							examination_descriptions = record.examination_descriptions.split(','),
							investigations = record.investigations.split(','),
							investigation_descriptions = [],
							diagnoses = [],
							diagnosis_descriptions = [];
						if (record.investigation_descriptions) {
							investigation_descriptions = record.investigation_descriptions.split(',');
						}
						else {
							for (var i = 0; i < investigations.length; i++) {
								investigation_descriptions[i] = "";
							}
						}
						if (record.diagnoses) {
							diagnoses = record.diagnoses.split(',');
							diagnosis_descriptions = record.diagnosis_descriptions.split(',');
						}

						if (complaints.length > 1 || (complaints.length == 1 && complaints[0])) {
							for (var i = 0; i < complaints.length; i++) {
								this.get().complaints.push({
									complaint: complaints[i],
									complaint_description: complaint_descriptions[i]
								});
							}
						}

						if (examinations.length > 1 || (examinations.length == 1 && examinations[0])) {
							for (var i = 0; i < examinations.length; i++) {
								this.get().examinations.push({
									examination: examinations[i],
									examination_description: examination_descriptions[i]
								});
							}
						}

						if (investigations.length > 1 || (investigations.length == 1 && investigations[0])) {
							for (var i = 0; i < investigations.length; i++) {
								this.get().investigations.push({
									investigation: investigations[i],
									investigation_description: investigation_descriptions[i]
								});
							}
						}

						if (diagnoses.length > 0) {
							this.set({ diagnoses: [] });
							for (var i = 0; i < diagnoses.length; i++) {
								this.get().diagnoses.push({
									diagnosis: diagnoses[i],
									diagnosis_description: diagnosis_descriptions[i]
								});
							}
						}

						this.set({
							loaded: true
						});
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading investigation history!"
						});
					});
			},
			loadDiagnoses() {
				Diagnosis.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_diagnoses: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading diagnoses!"
						});
					});
			},
			loadMedicines() {
				Medicine.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_medicines: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading medicines!"
						});
					});
			},
			loadTimes() {
				Time.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_times: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading times!"
						});
					});
			},
			loadComments() {
				Comment.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_comments: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading comments!"
						});
					});
			},
			loadDurations() {
				Duration.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_durations: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading durations!"
						});
					});
			},
			save(e) {
				e.preventDefault();

				var investigation_descriptions = [],
					diagnoses = [],
					diagnosis_descriptions = [],
					medicines = [],
					times = [],
					comments = [],
					durations = [];
				if (this.get().investigations) {
					this.get().investigations.forEach((item, index) => {
						investigation_descriptions.push(item.investigation_description);
					});
					this.get().data.investigation_descriptions = investigation_descriptions.join();
				}
				else {
					this.get().data.investigation_descriptions = "";
				}
				if (this.get().diagnoses) {
					this.get().diagnoses.forEach((item, index) => {
						diagnoses.push(item.diagnosis);
						diagnosis_descriptions.push(item.diagnosis_description);
					});
					this.get().data.diagnoses = diagnoses.join();
					this.get().data.diagnosis_descriptions = diagnosis_descriptions.join();
				}
				else {
					this.get().data.diagnoses = "";
					this.get().data.diagnosis_descriptions = "";
				}
				this.get().medicine_details.forEach((item, index) => {
					medicines.push(item.medicine.toUpperCase());
					times.push(item.time);
					comments.push(item.comment);
					durations.push(item.duration);
				});

				this.get().data.medicines = medicines.join();
				this.get().data.times = times.join();
				this.get().data.comments = comments.join();
				this.get().data.durations = durations.join();

				var { data } = this.get();

				this.set({
					save: true,
					tracker: {
						saving: true,
						saved: false,
						error: false
					}
				});

				Model.post(data)
					.then((r) => {
						this.set({
							tracker: {
								saving: false,
								saved: true,
								error: false
							}
						});

						setTimeout(() => {
							this.set({
								save: false,
								tracker: {
									saved: false
								},
							});
							if (this.get().preview_prescription) {
								window.location.assign("#prescriptionhistory#" + r.data.records.id);
							}
							else {
								window.location.assign("#prescriptionhistory");
							}
						}, 1500);

					})
					.catch((r) => {
						this.set({
							tracker: {
								saving: false,
								saved: false,
								error: true
							},
							error_message: "There is an error creating prescription!"
						});
						setTimeout(() => {
							this.set({
								save: false,
								tracker: {
									saving: false,
									saved: false,
									error: false
								},
								error_message: ""
							});
						}, 1500);
					});
			}
		}
	}
</script>